.custom-header{
  background:#292c2f;
  padding:20px 40px;
  box-sizing:border-box;
  border:0;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link{
  color:#fff;
  font:normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height:0.5;
  margin-right:40px;
  background:#292c2f;
}

.custom-header a.navbar-brand.navbar-link span{
  color:#bc40df;
}

.custom-header ul.nav.navbar-nav.links li a{
  font:14px Arial, Helvetica, sans-serif;
  opacity:0.9;
  text-decoration:none;
  color:#fff;
  background:#292c2f;
  border:0;
}

.custom-header ul.nav.navbar-nav li a:hover{
  opacity:1;
}

.custom-header .badge{
  position:absolute;
  top:4px;
  border-radius:2px;
  font-size:11px;
  color:#fff;
  background-color:#2A6A92;
  padding:2px 4px;
  font-weight:normal;
}

.custom-header li.dropdown, .custom-header li.dropdown.open{
  background:#3a3c3e;
}

.custom-header li.dropdown .dropdown-toggle{
  border-radius:2px;
  color:#fff;
  padding:8px 14px;
  background:#3a3c3e;
  opacity:0.9;
  border:0;
  margin:0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active{
  background:#3a3c3e;
  color:#fff;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a{
  font:bold 13px Arial, Helvetica, sans-serif;
}

img.dropdown-image{
  border-radius:50%;
  width:32px;
  margin-left:10px;
}

.custom-header .dropdown ul{
  background-color:#3a3c3e;
  border:0;
  min-width:140px;
}

.custom-header .dropdown ul li{
  background-color:#3a3c3e;
  padding:7px;
  text-align:center;
}

.custom-header .dropdown ul li a{
  background:#3a3c3e;
  border-radius:2px;
  color:#fff;
  padding:0;
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover{
  background:#3a3c3e;
}

.custom-header .dropdown ul li.active a{
  color:#e9ac09 !important;
}

.register-form form.custom-form{
  padding:55px;
  box-sizing:border-box;
  background-color:#ffffff;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font:bold 14px sans-serif;
  text-align:center;
  margin:50px;
  color:#333;
}

@media (max-width:400px) {
  .register-form form.custom-form{
    padding:55px 10px;
  }
}

.register-form .custom-form h1{
  display:inline-block;
  color:#4c565e;
  font-size:24px;
  font-weight:bold;
  padding:0 10px 15px;
  margin-bottom:60px;
  border-bottom:2px solid rgb(108, 174, 224);
}

.register-form .custom-form .form-group{
  margin-bottom:25px;
}

.register-form .custom-form .label-column{
  text-align:right;
  color:#5F5F5F;
}

@media (max-width:768px) {
  .register-form .custom-form .label-column{
    text-align:left;
  }
}

.register-form .custom-form .input-column{
  color:#5f5f5f;
  text-align:left;
}

.register-form .custom-form .input-column input{
  color:#5f5f5f;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding:12px;
  border:1px solid #dbdbdb;
  border-radius:2px;
  height:42px;
}

.register-form .custom-form .dropdown .dropdown-toggle{
  background:#fff;
  border:1px solid #dbdbdb;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color:#333;
  outline:none;
}

.register-form .custom-form .dropdown ul{
  background:#fff;
}

.register-form .custom-form .dropdown ul li a{
  background:#fff;
  color:#333;
  opacity:0.8;
}

.register-form .custom-form .dropdown ul li a:hover{
  opacity:1;
}

.register-form .custom-form .submit-button{
  border-radius:2px;
  background:#6caee0;
  color:#ffffff;
  font-weight:bold;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding:14px 22px;
  border:0;
  margin:30px;
  outline:none;
}

